@use "./variables.scss" as *;

// put your custom CSS here!
:root {
  --headerFont: "Sen", sans-serif;
  --bodyFont: "Sen", sans-serif;
  --codeFont: "IBM Plex Mono", monospace;
}

// Force all component headings to use the header font
.graph-outer > h3,
.toc-header,
.backlinks > h3,
.explorer > header > div,
.page-title {
  font-family: var(--headerFont);
}